
# Pycharm files
.idea/

# C extensions
*.so


######### C++ ##########

# Visual Studio solution folder
VisualStudioSolution/
.vscode/

# Build folders
bin/
obj/
results/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
